<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order Management</title>
    <link rel="icon" type="image/png" href="/image/logo-web.png">
    <head th:replace="~{admin/layout :: common-styles}"></head>
</head>
<body>
<header th:replace="~{admin/layout :: admin-header(user=${user})}"></header>

<div class="container-wrapper">
    <nav th:replace="~{admin/layout :: sidebar(currentPage='orders')}"></nav>

    <main>
        <div class="card">
            <h2>Order List</h2>
            <table>
                <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Customer</th>
                    <th>Order Date</th>
                    <th>Total</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${orders}">
                    <td th:text="'#ORD' + ${order.orderId}"></td>
                    <td th:text="${order.user.userFullName}">Tên KH</td>
                    <td th:text="${orderDates[order.orderId]}"></td>
                    <td th:text="${order.totalPrice}"></td>
                    <td th:text="${order.orderStatus}"></td>
                    <td class="action-links">
                        <a th:href="@{/admin/orders/details/{id}(id=${order.orderId})}">View Details</a>
                        <a th:href="@{/admin/orders/update-status/{id}(id=${order.orderId})}">Update Status</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>
</body>
</html>