<!-- src/main/resources/templates/admin/manageUser.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/layout :: common-head"></head>
<body>
<header th:replace="admin/layout :: admin-header(${adminUser})"></header>

<div class="container-wrapper">
    <nav th:replace="admin/layout :: sidebar('users')"></nav>

    <main>
        <div class="card">
            <h2>User List</h2>
            <a href="/admin/users/addUser" class="add-user-button">Add New User</a>
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>User Name</th>
                    <th>Full Name</th>
                    <th>Address</th>
                    <th>Phone Number</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.userId}"></td>
                    <td th:text="${user.userName}"></td>
                    <td th:text="${user.userFullName}"></td>
                    <td th:text="${user.address}"></td>
                    <td th:text="${user.phoneNumber}"></td>
                    <td th:text="${user.role}"></td>
                    <td class="action-links">
                        <a th:href="@{'/admin/users/edit/' + ${user.userId}}">Edit</a>
                        <a th:href="@{'/admin/users/delete/' + ${user.userId}}"
                           onclick="return confirm('Are you sure?');">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>
</body>
</html>
